.sidebar-admin {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    color: #f5f2ed;
    background-color: #17412d ;
  }
  
  .container-admin {
    padding: 2rem;
    background-color: #f5f2ed;
  }
  